@using Reporting_AspNetMvc_Create_Custom_Control

@*A style that specifies the toolbox item icon.*@
<link rel="stylesheet" href="~/NumericLabel/css/numeric-label.css" />

@*A template used to display the NumericLabel control on the Designer surface.*@
<template id='numeric-label-content'>
    <div data-bind="styleunit: { lineHeight: contentSizes().height / _context.zoom() }" 
         style="box-sizing: border-box;
         letter-spacing: normal; width: 100%">
        <div class="dxrd-control-content" data-bind="text: displaySomeProperty, 
             style: contentCss"></div>
    </div>
</template>

@*The code that creates and registers the NumericLabel control.*@
<script src="~/NumericLabel/js/numeric-label.js"></script>

@{
    //Get the NumericLabel control's type name.
    string shortTypeName = typeof(NumericLabel).FullName;
    string fullTypeName = typeof(NumericLabel).AssemblyQualifiedName;
}

<script type="text/javascript" id="script">
    function onCustomizeToolbox(s, e) {
        customizeToolbox(s, e, '@shortTypeName', '@fullTypeName');
        // Hide the Text property in the NumericLabel control's Property panel.
        s.GetPropertyInfo('@shortTypeName', "Text").visible = false;
        s.GetPropertyInfo('@shortTypeName', "textArea").visible = false;
        // Hide the XRLabel control in the Toolbox.
        var info = e.ControlsFactory.getControlInfo("XRLabel");
        info.isToolboxItem = false;
    }
</script>

@Html.DevExpress().ReportDesigner(settings =>
{
    settings.Name = "ReportDesigner1";
    settings.ClientSideEvents.CustomizeToolbox = "onCustomizeToolbox";
}).BindToUrl("TestReport").GetHtml()
